
.custom-shadow{
box-shadow:  5px 5px 5px #a7a9e4;
/* opacity: 0.1; */
}
.navbar{
    background-color: #0C0CC6;
}
.navbar-nav>.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}
.my-section{
    background-color: #0D04F5;
    /* height: 450px; */
}
.resp-img{
    /* width: 450px; */
    /* height: 150px; */
    position:absolute;
    margin-top: 50px;
}
.btn{
    border: none;
}
.border-custom{
    margin-top: 0px;
    border-bottom: 2px solid black;
    width: fit-content;
    /* padding-top: 5px; */
}

.card-services .card{
    transition: 0.5s;
}

.card-services  .card:hover{
    background-color: blue;
    color: white;
    transform: translate(0,-10px);
}

.card-services  > .card:hover ul.text-secondary,
.card-services  > .card:hover ::marker
{

    color: white !important;
}
.card-services  > .card:hover .card-title1{
    /* background-color: white; */
    color: #ffffff;
}
.card-services  > .card::before .card-title1{
    /* background-color: white; */
    color: #ffffff;
    /* z-index: -1; */
}
  .card-title1{
      color: #0C0CC6;
      /* font-size: 23px; */
      text-align: center;
      font-weight: 500;
      position: relative;
      z-index: 5;
      font-size: 23px;
      font-weight: 700;
      margin-top: 10px;
  }
  .card-subtitle1{
      text-align: center;
      /* font-weight: 900; */
      font-size: 100px !important;
      position: absolute;
      z-index: 0;
      top: -5%;
      left: 30%;
      color: #eccaca !important;
      opacity: 0.5;
  }
  .card{
      border: 0px;
  }
.card-services  > .card:hover button{
    background-color: white;
    color: #0e05f2;
}
.card-services  > .card:hover .card-title{
    color: white;
}
.card-services  > .card:hover .card-subtitle{
    color: white;
}
.card-services  > .card:hover .button-custom{
    color: #0e05f2 !important;
    background-color: white !important;
}
.navbar-nav > .nav-link >li:hover a{
    border-bottom: 2px solid #ffffff !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    width: fit-content !important;
}
::marker{
    color: #0e05f2;
}
.down{
    margin-top: 130px;
}

.card-services .card{
    border: 0 !important;
}
.location{
    color: #0C0CC6;
}
.social-icons  .fa-facebook-f{
color: #7465b8;
}
.social-icons .fa-twitter{
    color: #79C8ED;
}
.social-icons .fa-instagram{
    color: #E38DB2;
}
.social-icons .fa-youtube{
    color: #E66261; 
}
.social-icons .fa-pinterest{
    color:#E77171;
}
.icon{
    font-size: 50px !important;
}
.count{
    font-size: 48px;
    padding-bottom: 10px;
}
.page-footer{
    background-color: #0e05f2;
    color: white;
}
.inp{
    /* padding-left: 1112px; */
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
::placeholder {
    color: #d1d1d1;
    opacity: 1; 
    padding-bottom: 10px;
  }
.form-3 .form-control{
    padding: 20px !important; 
    border-radius: 10px !important;
    border: 1px solid #d1d1d1 !important;
} 
.custom-padding{
    padding-left: 100px;
}
.form-3 .form-control::placeholder {
    color: #d1d1d1 !important;
    opacity: 1 !important; 
    margin-bottom: 3px;
  }
  .share{
    color: #4b6b99;
  }
  .custom-heading{
      font-size: 60px;
  }
  .custom-heading1{
      color: #0C0CC6;
      font-size: 60px;
  }
  .card-heading{
    color: #0C0CC6;
    margin-top: 15px;
    font-weight: 800;
    margin-top: 40px;

  }
  .card-heading1{
    color: #0C0CC6;
    margin-top: 20px;
    padding-top: 10px;
    font-weight: 800;
  }
  .button-custom{
    background-color: #0C0CC6 !important;
    
  }
  .custom-icon-background{
      background-color: #0C0CC6;
  }
  .number{
      color: #0C0CC6;
      font-size: 110px;
      /* text-align: center; */
      font-weight: bold;
      position: absolute;
      z-index: 10;
      top: -5%;
      left: 27%;
      opacity: 0.2;
  }
  .number1{
    color: #b7b7db;
    font-size: 110px;
    /* text-align: center; */
    font-weight: bold;
    position: absolute;
    z-index: 10;
    top: -10%;
      left: 29%;
    opacity: 0.2;
  }
  .card-services  > .card:hover .number{
color: white;
}
.line{
    margin-top: 24px
}
.image_size_2{
    height: 313px;
}


.resp_image_2{
    box-shadow: #a7a9e4;
}
.image-border{
    border-radius: 10px;
}
.block_img{
    height: 240px !important;
    width: 100%;
    border-radius: 5px;
}
.custom{
    opacity: 1;
    color: white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #0C0CC6 !important;
    border-bottom: 2px solid #0C0CC6 !important;
    border-radius: 0;
    background-color: transparent !important;
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: grey;
}
.card-text{
    margin-bottom: 35px !important;
    margin-top: 41px;
}
@media screen and (max-width:770px) {
    .resp_image_2{
        width: 50%;
        height: auto;
    }
}
  @media screen and (max-width:500px) {
    .img {
        /* margin-top: 10px; */
        position: relative;
        /* margin-top: 0px; */
        /* margin-left: 120px; */
    }
}
.font{
    font-size: 36px !important;
}
.card-subtitle{
    font-size: 24px;
    color: #0C0CC6;
}
.btn-footer{
    background-color: #0C0CC6 !important;
    color: white !important;
}
@media (max-width: 978px) {
    .custom-padding {
      padding:0;
      margin:0;
    }
}
@media screen and (max-width:800px) {
    .down {
        margin-top: 20px;
    }
}
  @media screen and (max-width:992px) {
    .resp-img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 0%;
        position: relative;
    }
}


@media screen and (max-width:1026px) {
    .resp-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
@media screen and (max-width:427px) {
    .custom-heading{
        font-size: 36px;
    }
    .custom-heading1{
        font-size: 36px;
    }
}
@media screen and (max-width:770px) {
    .custom-heading{
        font-size: 40px;
    }
    .custom-heading1{
        font-size: 40px;
    }
}
@media screen and (max-width:340px) {
    .custom-heading{
        font-size: 36px;
    }
    .custom-heading1{
        font-size: 36px;
    }
}

@media screen and (max-width:770px) and (min-width:320px){
    .card-subtitle1{
        top: -8%;
        left: 35%;
    }
    .card-title1{
        top: 10%;
        left: 3%;
    }
}